<div class="row">
    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item"
            [routerLink]="['/users',user.id]"
            [queryParams]="{canEdit:user.userRole}"
            *ngFor="let user of usersData">
                {{user.username}}
            </li>
        </ul>
    </div>

        
        <hr>
            
        <div class="col-md-8">
            <router-outlet></router-outlet>            
        </div>
        <button class="btn btn-primary mt-3" routerLink="/products">
                Go to Products
            </button>
</div>



